<button
  class="mdl-mega-footer--social-btn buttonReseauxSociaux"
  (click)="redirectYoutube()"
  mdTooltip="Youtube"
  [mdTooltipPosition]="positionTooltip">
  <img class="imageReseauxSociaux" src="assets/images/youtube.png"/>
</button>
<button
  class="mdl-mega-footer--social-btn buttonReseauxSociaux"
  id="buttonFacebook"
  (click)="redirectFacebook()"
  mdTooltip="Facebook"
  [mdTooltipPosition]="positionTooltip">
  <img class="imageReseauxSociaux" src="assets/images/facebook.png"/>
</button>
<button
  class="mdl-mega-footer--social-btn buttonReseauxSociaux"
  (click)="redirectTwitter()"
  mdTooltip="Twitter"
  [mdTooltipPosition]="positionTooltip">
  <img class="imageReseauxSociaux" src="assets/images/twitter.png"/>
</button>
<button
  class="mdl-mega-footer--social-btn buttonReseauxSociaux"
  (click)="redirectInstagram()"
  mdTooltip="Instagram"
  [mdTooltipPosition]="positionTooltip">
  <img class="imageReseauxSociaux" src="assets/images/instagram.png"/>
</button>
