<a name="top"></a>
<div class="mdl-typography--text-center" style="background-image:url(assets/images/logo.png);background-size:100% 100%">
  <div class="logo-font android-slogan"></div>
  <div class="logo-font android-sub-slogan"></div>
  <div class="logo-font android-create-character"></div><a href="#screens">
    <button class="android-fab mdl-button mdl-button--colored mdl-js-button mdl-button--fab mdl-js-ripple-effect"><i class="material-icons">expand_more</i></button></a>
</div>
<div class="android-customized-section"><a name="screens"></a>
<div style="float:left;">
  <img src="assets/images/cash_brolik.jpg" style="margin-left:50px;margin-top:200px;height:300px;width:250px; border-radius:50px;border: 10px grey solid;">
</div>
  <div class="android-customized-section-text">
    <div class="mdl-typography--font-light mdl-typography--display-1-color-contrast">Cash Brolik</div>
    <p class="mdl-typography--font-light">Brolik Records</p>
    <p>Cash Brolik est un jeune artiste amiénois, issu des quartiers sud de la ville, qui commence a trouver son public.</p>
    <p>Cash Brolik a déjà fait ses preuves sur la toile avec plusieurs video-clips cumulant plus de 300 000 vues sur youtube.</p>
    <p>Cash Brolik a séduit tout de suite un large public avec son style dilettante et terre a terre, capable de faire danser la foule, exprimer la colère et la tristesse.</p>
    <p>Cash Brolik est un artiste éclectique faisant sonner un rap cru au vécu bien trempé, et une pop urbaine aux textes ciselés qui osent le pari de la chanson française.</p>
    <p>Cash Brolik se place en enfant du peuple en écrivant un titre qui fédère a l’occasion de la monter d’Amiens en ligue 1( sa ville natale ) qui a particulièrement interressé les médias (France télévision, Courrier Picard, SFR sport…)</p>
    <p>Cash Brolik est actuellement en studio pour l’enregistrement de son premier album.</p>
    <hr>
    <app-reseaux-sociaux></app-reseaux-sociaux>
    <p></p>
  </div>
</div>
<hr>
<div class="mdl-grid" style="width:70%">
  <div class="mdl-cell mdl-cell--6-col mdl-cell--4-col-tablet mdl-card mdl-shadow--4dp">
    <div class="mdl-card__title">
      <h2 class="mdl-card__title-text">Musiques</h2>
    </div>
    <div class="mdl-card__media"><a href="#"><img class="article-image" src="assets/images/musique.jpg" border="0" alt="" style="width:100%;height:100%"/></a></div>
    <div class="mdl-card__supporting-text no-bottom-padding"><span><a routerLink="/musiques" routerLinkActive="active" style="color:#8BC34A">Accéder aux musiques</a></span>
      <div class="icon material-icons portfolio-share-btn" id="tt1">audiotrack</div>
      <div class="mdl-tooltip" for="tt1">Accéder aux musiques</div>
    </div>
    <div class="mdl-card__supporting-text">
      <p>Découvrez les vidéos de Cash Brolik en ligne.</p>
    </div>
  </div>
    <div class="mdl-cell mdl-cell--6-col mdl-cell--4-col-tablet mdl-card mdl-shadow--4dp">
      <div class="mdl-card__title">
        <h2 class="mdl-card__title-text">Newsletter</h2>
      </div>
      <div class="mdl-card__media"><a href="#"><img class="article-image" src="assets/images/newsletter.jpg" border="0" alt="" style="width:100%;height:100%"/></a></div>
      <div class="mdl-card__supporting-text no-bottom-padding"><span><a href="/newsletter" style="color:#8BC34A">S'inscrire à la newsletter.</a></span>
        <div class="icon material-icons portfolio-share-btn" id="tt2">wc</div>
        <div class="mdl-tooltip" for="tt2">S'inscrire à la newsletter.</div>
      </div>
      <div class="mdl-card__supporting-text">
        <p>Découvrez les actualitées et les évenements de Cash Brolik.</p>
      </div>
    </div>
<!--
  <div class="mdl-cell mdl-cell--6-col mdl-cell--4-col-tablet mdl-card mdl-shadow--4dp">
    <div class="mdl-card__title">
      <h2 class="mdl-card__title-text">Produits dérivés</h2>
    </div>
    <div class="mdl-card__media"><a href="#"><img class="article-image" src="assets/images/example-blog02.jpg" border="0" alt=""/></a></div>
    <div class="mdl-card__supporting-text no-bottom-padding"><span><a href="/boutique" style="color:#8BC34A">Accéder aux produits</a></span>
      <div class="icon material-icons portfolio-share-btn" id="tt2">wc</div>
      <div class="mdl-tooltip" for="tt2">Accéder aux produits</div>
    </div>
    <div class="mdl-card__supporting-text">
      <p>Réservez ici-même les produits Brolik Records et Cash Brolik.</p>
    </div>
  </div>
-->
</div>
<hr>
<div class="android-more-section">
  <div class="android-section-title mdl-typography--display-1-color-contrast"><a class="linkNews" routerLink="/actualitees" routerLinkActive="active">Les actualitées</a></div>
  <div class="android-card-container mdl-grid">
    <div class="mdl-cell mdl-cell--3-col mdl-cell--4-col-tablet mdl-cell--4-col-phone mdl-card mdl-shadow--3dp">
      <div class="mdl-card__media"><img src="assets/images/more-from-1.png"/></div>
      <div class="mdl-card__title">
        <h4 class="mdl-card__title-text">Get going on Android</h4>
      </div>
      <div class="mdl-card__supporting-text"><span class="mdl-typography--font-light mdl-typography--subhead">Four tips to make your switch to Android quick and easy</span></div>
      <div class="mdl-card__actions"><a class="android-link mdl-button mdl-js-button mdl-typography--text-uppercase" href="">Consulter<i class="material-icons">chevron_right</i></a></div>
    </div>
    <div class="mdl-cell mdl-cell--3-col mdl-cell--4-col-tablet mdl-cell--4-col-phone mdl-card mdl-shadow--3dp">
      <div class="mdl-card__media"><img src="assets/images/more-from-4.png"/></div>
      <div class="mdl-card__title">
        <h4 class="mdl-card__title-text">Create your own Android character</h4>
      </div>
      <div class="mdl-card__supporting-text"><span class="mdl-typography--font-light mdl-typography--subhead">Turn the little green Android mascot into you, your friends, anyone!</span></div>
      <div class="mdl-card__actions"><a class="android-link mdl-button mdl-js-button mdl-typography--text-uppercase" href="">Consulter<i class="material-icons">chevron_right</i></a></div>
    </div>
    <div class="mdl-cell mdl-cell--3-col mdl-cell--4-col-tablet mdl-cell--4-col-phone mdl-card mdl-shadow--3dp">
      <div class="mdl-card__media"><img src="assets/images/more-from-2.png"/></div>
      <div class="mdl-card__title">
        <h4 class="mdl-card__title-text">Get a clean customisable home screen</h4>
      </div>
      <div class="mdl-card__supporting-text"><span class="mdl-typography--font-light mdl-typography--subhead">A clean, simple, customisable home screen that comes with the power of Google Now: Traffic alerts, weather and much more, just a swipe away.</span></div>
      <div class="mdl-card__actions"><a class="android-link mdl-button mdl-js-button mdl-typography--text-uppercase" href="">Consulter<i class="material-icons">chevron_right</i></a></div>
    </div>
    <div class="mdl-cell mdl-cell--3-col mdl-cell--4-col-tablet mdl-cell--4-col-phone mdl-card mdl-shadow--3dp">
      <div class="mdl-card__media"><img src="assets/images/more-from-3.png"/></div>
      <div class="mdl-card__title">
        <h4 class="mdl-card__title-text">Millions to choose from</h4>
      </div>
      <div class="mdl-card__supporting-text"><span class="mdl-typography--font-light mdl-typography--subhead">Hail a taxi, find a recipe, run through a temple – Google Play has all the apps and games that let you make your Android device uniquely yours.</span></div>
      <div class="mdl-card__actions"><a class="android-link mdl-button mdl-js-button mdl-typography--text-uppercase" href="">Consulter<i class="material-icons">chevron_right</i></a></div>
    </div>
  </div>
  <hr>
  <div class="android-more-section">
    <div class="android-section-title mdl-typography--display-1-color-contrast"><a class="linkNews" routerLink="/evenements" routerLinkActive="active">Les évennements</a></div>
    <div class="android-card-container mdl-grid">
      <div class="mdl-cell mdl-cell--3-col mdl-cell--4-col-tablet mdl-cell--4-col-phone mdl-card mdl-shadow--3dp">
        <div class="mdl-card__media"><img src="assets/images/more-from-1.png"/></div>
        <div class="mdl-card__title">
          <h4 class="mdl-card__title-text">Get going on Android</h4>
        </div>
        <div class="mdl-card__supporting-text"><span class="mdl-typography--font-light mdl-typography--subhead">Four tips to make your switch to Android quick and easy</span></div>
        <div class="mdl-card__actions"><a class="android-link mdl-button mdl-js-button mdl-typography--text-uppercase" href="">Consulter<i class="material-icons">chevron_right</i></a></div>
      </div>
      <div class="mdl-cell mdl-cell--3-col mdl-cell--4-col-tablet mdl-cell--4-col-phone mdl-card mdl-shadow--3dp">
        <div class="mdl-card__media"><img src="assets/images/more-from-4.png"/></div>
        <div class="mdl-card__title">
          <h4 class="mdl-card__title-text">Create your own Android character</h4>
        </div>
        <div class="mdl-card__supporting-text"><span class="mdl-typography--font-light mdl-typography--subhead">Turn the little green Android mascot into you, your friends, anyone!</span></div>
        <div class="mdl-card__actions"><a class="android-link mdl-button mdl-js-button mdl-typography--text-uppercase" href="">Consulter<i class="material-icons">chevron_right</i></a></div>
      </div>
      <div class="mdl-cell mdl-cell--3-col mdl-cell--4-col-tablet mdl-cell--4-col-phone mdl-card mdl-shadow--3dp">
        <div class="mdl-card__media"><img src="assets/images/more-from-2.png"/></div>
        <div class="mdl-card__title">
          <h4 class="mdl-card__title-text">Get a clean customisable home screen</h4>
        </div>
        <div class="mdl-card__supporting-text"><span class="mdl-typography--font-light mdl-typography--subhead">A clean, simple, customisable home screen that comes with the power of Google Now: Traffic alerts, weather and much more, just a swipe away.</span></div>
        <div class="mdl-card__actions"><a class="android-link mdl-button mdl-js-button mdl-typography--text-uppercase" href="">Consulter<i class="material-icons">chevron_right</i></a></div>
      </div>
      <div class="mdl-cell mdl-cell--3-col mdl-cell--4-col-tablet mdl-cell--4-col-phone mdl-card mdl-shadow--3dp">
        <div class="mdl-card__media"><img src="assets/images/more-from-3.png"/></div>
        <div class="mdl-card__title">
          <h4 class="mdl-card__title-text">Millions to choose from</h4>
        </div>
        <div class="mdl-card__supporting-text"><span class="mdl-typography--font-light mdl-typography--subhead">Hail a taxi, find a recipe, run through a temple – Google Play has all the apps and games that let you make your Android device uniquely yours.</span></div>
        <div class="mdl-card__actions"><a class="android-link mdl-button mdl-js-button mdl-typography--text-uppercase" href="">Consulter<i class="material-icons">chevron_right</i></a></div>
      </div>
    </div>
</div>
