<div style="background-image:url(assets/images/header.jpg);background-size:100% 100%;height:300px;width:100%;"></div>
<a name="top"></a>
<div class="android-customized-section"><a name="screens"></a>
  <div class="android-customized-section-text">
    <div class="mdl-typography--font-light mdl-typography--display-1-color-contrast">Cash Brolik</div>
    <p class="mdl-typography--font-light">Brolik Records</p>
    <p style="color:#8BC34A">PAGE DE CONTACT</p>
    <hr>
    <app-reseaux-sociaux></app-reseaux-sociaux>
  </div>
</div>
<hr>
<div class="mdl-grid" style="width:70%">
  <div class="mdl-cell mdl-cell--12-col mdl-card mdl-shadow--4dp">
    <div class="mdl-card__title">
      <h2 class="mdl-card__title-text">Formulaire de contact</h2>
    </div>
    <div class="mdl-card__supporting-text">
      <p>Si vous souhaitez prendre contact, veuillez remplir le formulaire suivant.</p>
      <div style="text-align:center;">
        <form action="#">
          <mat-form-field style="width: 100%;" class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input class="mdl-textfield__input" matInput name="Sujet" [formControl]="sujetFormControl" [(ngModel)]="Sujet" required>
            <mat-placeholder>
              Sujet:
            </mat-placeholder>
            <mat-error *ngIf="sujetFormControl.hasError('required')">
              Ce champ est obligatoire.
            </mat-error>
          </mat-form-field>
          <mat-form-field style="width: 100%;" class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input class="mdl-textfield__input" matInput name="Email" type="email" [formControl]="emailFormControl" [(ngModel)]="Email" required>
            <mat-placeholder>
              Adresse email:
            </mat-placeholder>
            <mat-error *ngIf="emailFormControl.hasError('required')">
              Ce champ est obligatoire.
            </mat-error>
          </mat-form-field>
          <mat-form-field style="width: 100%;" class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <textarea class="mdl-textfield__input" matInput name="Message" type="text" rows="5" [formControl]="messageFormControl" [(ngModel)]="Message" required></textarea>
            <mat-placeholder>
              Message:
            </mat-placeholder>
            <mat-error *ngIf="messageFormControl.hasError('required')">
              Ce champ est obligatoire.
            </mat-error>
          </mat-form-field>
          <div style="items-align:center;">
            <button mat-raised-button type="submit">Envoyer</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
