<button
  class="mdl-mega-footer--social-btn buttonReseauxSociaux"
  (click)="redirectYoutube()"
  matTooltip="Youtube"
  [matTooltipPosition]="positionTooltip">
  <img class="imageReseauxSociaux" src="assets/images/youtube.png"/>
</button>
<button
  class="mdl-mega-footer--social-btn buttonReseauxSociaux"
  id="buttonFacebook"
  (click)="redirectFacebook()"
  matTooltip="Facebook"
  [matTooltipPosition]="positionTooltip">
  <img class="imageReseauxSociaux" src="assets/images/facebook.png"/>
</button>
<button
  class="mdl-mega-footer--social-btn buttonReseauxSociaux"
  (click)="redirectTwitter()"
  matTooltip="Twitter"
  [matTooltipPosition]="positionTooltip">
  <img class="imageReseauxSociaux" src="assets/images/twitter.png"/>
</button>
<button
  class="mdl-mega-footer--social-btn buttonReseauxSociaux"
  (click)="redirectInstagram()"
  matTooltip="Instagram"
  [matTooltipPosition]="positionTooltip">
  <img class="imageReseauxSociaux" src="assets/images/instagram.png"/>
</button>
