<button [ngClass]="['mdl-mega-footer--social-btn', 'buttonReseauxSociaux']" (click)="redirectYoutube()" matTooltip="Youtube" [matTooltipPosition]="positionTooltip">
  <img [ngClass]="['imageReseauxSociaux']" height="100%" width="100%" src="assets/images/youtube.png" alt="Youtube">
</button>
<button [ngClass]="['mdl-mega-footer--social-btn', 'buttonReseauxSociaux']" id="buttonFacebook" (click)="redirectFacebook()" matTooltip="nameReseau" [matTooltipPosition]="positionTooltip">
  <img [ngClass]="['imageReseauxSociaux']" height="100%" width="100%" src="assets/images/facebook.png" alt="Facebook">
</button>
<button [ngClass]="['mdl-mega-footer--social-btn', 'buttonReseauxSociaux']" (click)="redirectTwitter()" matTooltip="Twitter" [matTooltipPosition]="positionTooltip">
  <img [ngClass]="['imageReseauxSociaux']" height="100%" width="100%" src="assets/images/twitter.png" alt="Twitter">
</button>
<button [ngClass]="['mdl-mega-footer--social-btn', 'buttonReseauxSociaux']" (click)="redirectInstagram()" matTooltip="Instagram" [matTooltipPosition]="positionTooltip">
  <img [ngClass]="['imageReseauxSociaux']" height="100%" width="100%" src="assets/images/instagram.png" alt="Instagram">
</button>
